.header {
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.icon-container {
  padding: 10px;
}

.header-icons {
  height: 40px;
}

.number {
  font-size: 25px;
  font-weight: 600;
}

.number-container {
  background-color: $background-dark;
  padding: 10px;
  border-bottom: 2px solid;
  border-color: black;
  min-height: 62px;
}

.text-container {
  position: relative;
  height: auto;
  width: auto;
  padding: 10px;

  > p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
  }

  > input {
    background-color: $background-light;
    color: white;
    border: none;
  }
}
