//colors
$login-screen: #FF6A5C;
$background-dark: #242E3A;
$background-light: #38404A;


//buttons
 $nav-button: #A4D4B4;
 $burger-double: #FF6A5C;
 $burger-single: #EAB126;
 $drinks: #20948B;
 $ingridient: #C0DA7A;
 $addings: #C08DBA;
 $extras: #EDDD4C;
 
